*{
    padding: 0;
    margin: 0;
}
h1
{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: black;
    padding: 20px;
}
h2
{
    text-align: center;
    background-color: rgb(31, 119, 192);
    color: black;
    padding: 10px;
}
h3
{
    text-align: center;
    padding: 15px;
}
nav ul{
    background-color: rgb(221, 33, 33);
    text-align: center;
    color: whitesmoke;
    list-style-type: none;
}

nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    width: 150px;
}

nav li :hover{
    background-color: rgb(212, 195, 195);
    color: black;
}
.navfooter ul{
    background-color: rgb(33, 108, 221);
    text-align: center;
    color: whitesmoke;
    list-style-type: none;
}
.navfooter a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 30px;
    width: 150px;
}

.navfooter li :hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
p
{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
